@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #1f2937;
    color: #f9fafb;
}

::-webkit-scrollbar {
    width: 0.85em;
}

::-webkit-scrollbar-track {
    background: #f9fafb;
}

::-webkit-scrollbar-thumb {
    background: #1f2937;
    border: 2px solid #f9fafb;
    border-radius: 8px;
}
